/* Nav Bar CSS */


/* Header CSS */
.emptyspace{
    height:100px;
    
}
.container{
    border: 2px solid black;
}
p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-align: left;
    font-size: 20px;
    
}
.heading, a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}

/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


